<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item">
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          <!-- 添加微信公众号图标和链接 -->
          {% if site.weixin_qr %}
          <li class="list-inline-item">
            <a href="{{ site.weixin_qr }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-weixin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          <!-- 添加福利群图标和链接 -->
          {% if site.group_qr %}
          <li class="list-inline-item">
            <a href="{{ site.group_qr }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          <!-- 添加知识星球图标和链接 -->
          <li class="list-inline-item">
            <a href="https://public.zsxq.com/groups/15552545182112.html?group_id=15552545182112&inviter_id=1484124882&inviter_sid=dk49dkz013&secret=hgpslubwfs11975orodg4gr4igz2fw2i&share_from=InviteUrl&keyword=0dAjLfdyM&type=group" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <img src="https://zsxq.com/assets/img/zsxq_logo@2x.png" alt="知识星球" style="width: 1em; height: 1em; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              </span>
            </a>
          </li>

          <!-- 添加客服图标和链接 -->
          {% if site.customer_service %}
          <li class="list-inline-item">
            <a href="{{ site.customer_service }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-comments fa-stack-1x fa-inverse"></i> <!-- 这里可以替换为其他图标，例如 fa-phone, fa-life-ring 等 -->
              </span>
            </a>
          </li>
          {% endif %}

        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>

<!-- Highlight.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
